*{
  padding: 0;
  margin: auto;
}
.line{
  background-color: #035E7B;
  margin: auto;
  position: absolute;
}
#game{
  background-color: #A3F7B5;
  margin: auto;
  position: absolute;
}
#menu{
  background-color: #035E7B;
  margin: auto;
  position: absolute;
}

#character{
  background-color: #035E7B;
  color: #E5F9E0;
  text-align: center;
  font-family: monospace,sans-serif;
  position: absolute;
}
#spacer{
  background-color: #2F9C95;
  color: #E5F9E0;
  text-align: center;
  font-family: monospace,sans-serif;
}
#infobox{
  margin: auto;
  background-color: #40C9A2;
  position: absolute;
}
#inputsquares{
  margin: auto;
  background-color: white;
  position: absolute;
}
@keyframes blink {
  from {opacity: 100%;}
  to {opacity: 0%;}
}
@keyframes red {
  from {background-color: #2F9C95;}
  to {background-color: DarkRed;}
}
.flash-red{
  opacity: 100%;
  animation-name: blink, red;
  animation-duration: 1s, 0.5s;
  animation-iteration-count: infinite, 1;
  animation-delay: 0.2s, 0s;
  animation-timing-function: steps(2, jump-none), linear;
}
.stop-flashing-red{
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, jump-none);
}
#cursor{
  margin: auto;
  background-color: #2F9C95;
  position: absolute;
}
#winScreen{
  margin: auto;
  background-color: #2F9C95;
  position: absolute;
}
#keyboard{
  margin: auto;
  background-color: #2F9C95;
  position: fixed;
  touch-action: manipulation;
}
@keyframes slide-in {
  from {opacity: 0%; left: 0%;}
  to {opacity: 100%; left: 50%;}
}
.winWord{
  background-color: #2F9C95;
  position: absolute;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}
#banner{
  margin: auto;
  background-color: #40C9A2;
  position: fixed;
  top : 0px;
}
#body{
  background-color: DarkSlateGray;
}
