*{
  padding: 0;
  margin: auto;
}
#game{
  background-color: GoldenRod;
  margin: auto;
  position: absolute;
}
#character{
  background-color: teal;
  color: white;
  text-align: center;
  font-family: monospace,sans-serif;
}
#spacer{
  background-color: gray;
  color: white;
  text-align: center;
  font-family: monospace,sans-serif;
}
#infobox{
  margin: auto;
  background-color: AntiqueWhite;
  position: absolute;
}
#keyboard{
  margin: auto;
  background-color: Khaki;
  position: fixed;
}
